<h1>Leaderboard <%= @leaderboard_name %></h1>

<%= form_with url: "/leaderboard/players", method: :post do |form| %>
  <%= form.text_field :player_name %>
  <%= hidden_field_tag(:leaderboard_name, @leaderboard_name) %>
  <%= form.submit 'Add new player' %>
<% end %>

</br>

<%= form_with url: "/leaderboard", method: :post do |form| %>
    <%= form.label 'Winner' %>
    <%= form.select :winner_name, @player_names %>
    <%= form.label 'Loser' %>
    <%= form.select :loser_name, @player_names %>
    <%= hidden_field_tag(:leaderboard_name, @leaderboard_name) %>
    <%= form.submit 'Submit game result' %>
<% end %>

<ul>
<% @players.each do |p| %>
    <li><%= p.name %> <%= p.elo %></li>
 <% end %>
</ul>

</br>
</br>

<h3>Games so far</h3>
<% @games.each do |g| %>
  <span>[<%= g.created_at.to_date  %>] <%= @player_id_to_name[g.player_id] %> won v <%=@player_id_to_name[g.versus_id] %></span>
  </br>
<% end %>